//= ../../templates/header.html

<div class="work-area empty">
    <div class="head-block">
        <div class="container-fluid">
            <div class="thelp">
                <div id="head-resize" class="head-resize main-area-resize">
                    <!--<div class="head">
                        <h1>Управление складами</h1>
                        <p class="text">Хххххххххххх хх ххххххххххххх ххх ххх <br />
                            хххххххх х хх ххххххххххх х хххххххххх.</p>
                    </div>-->
                    <div class="main-controls text-right">
                        <ul>
                            <li><a href="#" class="add-control"><img src="../../images/ui/plus.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="empty-page-discl">
                        <p>Xxxxxxxxxxxxx x xxxxxxxx xxxx x xxxxxxxxxxxxxxx xххх
                            xxxxхххххх х xxxxxxxx xxxxxxxxxxxxx xxxx x xxxxxxxxxxx
                            xxx x xxxxxxxxxxxxxxx x x xxxx x xxxxxxxxxxx xxx x xxxхххххх.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="empty-area">
        <div class="img">
            <img src="../../images/storage-bg-empty.png" alt="">
        </div>
    </div>
</div>

<script>

</script>



//= ../../templates/footer.html
<!--
<footer></footer>

<script src="../..scripts.jss.js"></script>
</body>
</html>-->
