

//= ../../templates/header.html

<div class="work-area ui-hidden">
    <div class="head-block">
        <div class="container-fluid">
            <div class="thelp">
                <div id="head-resize" class="head-resize main-area-resize head-controls">
                    <!--<div class="head">
                        <h1>Управление складами</h1>
                        <p class="text">Хххххххххххх хх ххххххххххххх ххх ххх <br/>
                            хххххххх х хх ххххххххххх х хххххххххх.</p>
                    </div>-->
                    <div class="main-controls text-right">
                        <ul>
                            <li><a href="#"><img src="../../images/ui/sort-btn.png" alt=""></a></li>
                            <li><a href="#"><img src="../../images/ui/filter-btn.png" alt=""></a></li>
                            <li><a href="#"><img src="../../images/ui/search-btn.png" alt=""></a></li>
                            <li><a href="#" id="add-control" class="add-control"><img src="../../images/ui/plus.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <!--<img class="devider-icon" src="../../images/ui/devider.png" />-->
                    <div class="devider-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="#" class="slide-out-btn"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    <a href="#" class="slide-in-btn"><i class="glyphicon glyphicon-chevron-left"></i></a>

                </div>
                <div class="head-controls ui-controls-wrap">
                    <div class="head-wrap-overflow">
                        <a href="#" class="f-btn f-btn-del">Удалить</a>
                        <a href="#" class="f-btn f-btn-save">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-area">
        <div class="container-fluid">
            <div class="thelp">
                <div id="main-resize" class="main-area-resize">
                    <div class="overflow-helper">
                        <div class="content-wrap">
                            <p class="info-block">Xxxxxxxxxxxxx x xxxxxxxx xxxx x xxxxxxxxxxxxxxx x xxxxхххххх х ххххххх
                                хххххххх ххх x xxxxxxxxxxx
                                xxx x xxxxxxxxxxxxx xxxxxxxx xxxxxxxxxxxxx xxxx x xxxxxxxxxxx xxx x xxxxxxxxxxxxxxx
                                xxxxxx.</p>
                            <table>
                                <tbody>
                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Москва</span></td>
                                    <td class="td-sm"><span>0.1</span></td>
                                    <td class="td-sm">
                                        <div class="marker yellow"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Санкт-Петербург</span></td>
                                    <td class="td-sm"><span>0.5</span></td>
                                    <td class="td-sm">
                                        <div class="marker grey"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Новосибирск</span></td>
                                    <td class="td-sm"><span>1</span></td>
                                    <td class="td-sm">
                                        <div class="marker red"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Екатеринбург</span></td>
                                    <td class="td-sm"><span>2</span></td>
                                    <td class="td-sm">
                                        <div class="marker green"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Москва</span></td>
                                    <td class="td-sm"><span>0.1</span></td>
                                    <td class="td-sm">
                                        <div class="marker yellow"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Санкт-Петербург</span></td>
                                    <td class="td-sm"><span>0.5</span></td>
                                    <td class="td-sm">
                                        <div class="marker grey"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Новосибирск</span></td>
                                    <td class="td-sm"><span>1</span></td>
                                    <td class="td-sm">
                                        <div class="marker red"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-sm">
                                        <div class="checkbox"><input type="checkbox" hidden="hidden">
                                            <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </div>
                                    </td>
                                    <td><span>г. Екатеринбург</span></td>
                                    <td class="td-sm"><span>2</span></td>
                                    <td class="td-sm">
                                        <div class="marker green"></div>
                                    </td>
                                    <td class="td-sm">
                                        <a href="#" class="context-menu"><i
                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui-controls-wrap">

                    <div class="ui-controls-cont">
                        <div class="func-area">
                            <div class="func-header">
                                <h2 class="head">Карточка склада</h2>
                                <p class="head-overwiew">Хххххххххххх хх ххххххххххххх ххх ххх
                                    хххххххх х хх ххххххххххх х хххххххххх.</p>
                            </div>
                            <div class="func-block">
                                <div class="func-item">
                                    <dl>
                                        <dt>Клиентов:</dt>
                                        <dd><a href="#">88</a></dd>
                                    </dl>
                                </div>
                                <div class="func-item">
                                    <dl>
                                        <dt>Заявок:</dt>
                                        <dd><a href="#">888</a></dd>
                                    </dl>
                                </div>
                                <div class="func-item">
                                    <dl>
                                        <dt>Заявок:</dt>
                                        <dd><a href="#">8.888</a></dd>
                                    </dl>
                                </div>
                                <div class="func-item">
                                    <dl>
                                        <dt>Претензий:</dt>
                                        <dd><a href="#">8.8888</a></dd>
                                    </dl>
                                </div>

                            </div>
                            <div class="func-block">
                                <form action="">
                                    <div class="func-item"><input type="text" placeholder="Название склада"></div>
                                    <div class="func-item"><input type="text" placeholder="Телефон"></div>
                                    <div class="func-item"><input type="text" placeholder="E-mail"></div>
                                    <div class="func-item">
                                        <div class="wysiwyg">
                                            <div class="ctrls">
                                                <img style="max-width: 100%" src="../../images/ui/WYSIWYG.png" alt="">
                                            </div>
                                            <textarea name="" id="" cols="30" rows="10"></textarea>
                                            <div class="words-counter"><span class="inner">Количество слов: 800</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="func-block">
                                <h3>Клиенты склада</h3>
                                <div class="func-item">
                                    <ul class="devided-list">
                                        <li><a href="#">ИП Чехов Егор Константинович</a></li>
                                        <li><a href="#">ООО “Русское Море”</a></li>
                                        <li><a href="#">ОАО “Ашан”</a></li>
                                        <li><a href="#">ОАО “Виктория”</a></li>
                                        <li><a href="#">ООО “Царская Охота”</a></li>
                                        <li><a href="#">ООО “Русское Море”</a></li>
                                        <li><a href="#">ИП Чехов Егор Константинович</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="func-area">
                            <div class="func-header">
                                <h2 class="head">Расчет приблизительной стоимости доставки</h2>
                                <p class="head-overwiew">Хххххххххххх хх ххххххххххххх ххх ххх
                                    хххххххх х хх ххххххххххх х хххххххххх.</p>
                            </div>
                            <div class="func-block">
                                <div class="func-item">
                                    <form action="">
                                        <input type="text" placeholder="Коэффициент">
                                        <div class="formula-out-wrap">
                                            <span class="formula">{price}*2-{tonn}*10%</span>
                                            <a href="#" class="f-btn f-btn-change">Изменить</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<script>

</script>

<script>
    //Dev trick
    $(function () {
        var text = 'Управление складами';
        var sub = 'Карточка склада';

        if(sub){
            document.title = text + ' / ' + sub;
        }else{
            document.title = text;
        }
        $('nav.navbar h1').text( text );
    });
</script>

//= ../../templates/footer.html


