//= ../../templates/header.html

<div class="work-area ui-hidden">
    <div class="head-block">
        <div class="container-fluid">
            <div class="thelp">
                <div id="head-resize" class="head-resize main-area-resize head-controls">
                    <!--<div class="head">
                        <h1>Управление складами</h1>
                        <p class="text">Хххххххххххх хх ххххххххххххх ххх ххх <br/>
                            хххххххх х хх ххххххххххх х хххххххххх.</p>
                    </div>-->
                    <div class="main-controls text-right">
                        <ul>
                            <li class="local-controls">
                                <a href="#" activate-target=".cat-view-tree" class="cat-view-mode control active"><i class="glyphicon glyphicon-align-justify"></i></a>
                                <a href="#" activate-target=".cat-view-list" class="cat-view-mode control"><i class="glyphicon glyphicon-th-large"></i></a>
                            </li>
                            <li><a href="#"><img src="../../images/ui/sort-btn.png" alt=""></a></li>
                            <li><a href="#"><img src="../../images/ui/filter-btn.png" alt=""></a></li>
                            <li><a href="#"><img src="../../images/ui/search-btn.png" alt=""></a></li>
                            <li><a href="#" id="add-control" class="add-control"><img src="../../images/ui/plus.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <!--<img class="devider-icon" src="../../images/ui/devider.png" />-->
                    <div class="devider-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="#" class="slide-out-btn"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    <a href="#" class="slide-in-btn"><i class="glyphicon glyphicon-chevron-left"></i></a>

                </div>
                <div class="head-controls ui-controls-wrap">
                    <div class="head-wrap-overflow">
                        <a href="#" class="f-btn f-btn-save">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-area">
        <div class="container-fluid">
            <div class="thelp">
                <div id="main-resize" class="main-area-resize">
                    <div class="overflow-helper">
                        <div class="content-wrap">
                            <p class="info-block">Xxxxxxxxxxxxx x xxxxxxxx xxxx x xxxxxxxxxxxxxxx x xxxxхххххх х ххххххх
                                хххххххх ххх x xxxxxxxxxxx
                                xxx x xxxxxxxxxxxxx xxxxxxxx xxxxxxxxxxxxx xxxx x xxxxxxxxxxx xxx x xxxxxxxxxxxxxxx
                                xxxxxx.</p>
                            <div class="catalog-wrap cat-view-tree">
                                <div class="cat-brunch">
                                    <div class="bordered-label">
                                        <label class="labe">Мороженная</label>
                                        <div class="addons">
                                            <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                            <a href="#" class="context-menu"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                        </div>
                                    </div>
                                    <div class="cat-brunch">
                                        <div class="bordered-label">
                                            <label class="labe">Треска</label>
                                            <div class="addons">
                                                <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                <a href="#" class="context-menu"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                            </div>
                                        </div>
                                        <div class="cat-brunch listed">
                                            <div class="border-wrapper">
                                                <div class="bordered-label">
                                                    <label class="labe">Треска заморская</label>
                                                    <div class="addons">
                                                        <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                        <a href="#" class="context-menu"><i
                                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                                    </div>
                                                </div>
                                                <div class="list-items">
                                                    <table>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-brunch listed">
                                            <div class="border-wrapper">
                                                <div class="bordered-label">
                                                    <label class="labe">Треска приморская</label>
                                                    <div class="addons">
                                                        <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                        <a href="#" class="context-menu"><i
                                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                                    </div>
                                                </div>
                                                <div class="list-items">
                                                    <table>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cat-brunch">
                                    <div class="bordered-label">
                                        <label class="labe">Охлажденная</label>
                                        <div class="addons">
                                            <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                            <a href="#" class="context-menu"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                        </div>
                                    </div>
                                    <div class="cat-brunch listed">
                                        <div class="border-wrapper">
                                            <div class="bordered-label">
                                                <label class="labe">Треска приморская</label>
                                                <div class="addons">
                                                    <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                    <a href="#" class="context-menu"><i
                                                            class="glyphicon glyphicon-option-vertical"></i></a>
                                                </div>
                                            </div>
                                            <div class="list-items">
                                                <table>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span>A1818</span></td>
                                                        <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                        </td>
                                                        <td>
                                                            <span class="name">б/г 300-460 2*12 1/24</span>
                                                            <span class="category">Категория: Треска</span>
                                                            <div class="img"><img src="../../images/ui/paragr.png"
                                                                                  alt=""></div>
                                                        </td>
                                                        <td class="td-sm"><span>fixed</span></td>
                                                        <td class="td-sm"><span
                                                                class="price"><strong>300 ₽</strong></span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span>A1818</span></td>
                                                        <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                        </td>
                                                        <td>
                                                            <span class="name">б/г 300-460 2*12 1/24</span>
                                                            <span class="category">Категория: Треска</span>
                                                            <div class="img"><img src="../../images/ui/paragr.png"
                                                                                  alt=""></div>
                                                        </td>
                                                        <td class="td-sm"><span>fixed</span></td>
                                                        <td class="td-sm"><span
                                                                class="price"><strong>300 ₽</strong></span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span>A1818</span></td>
                                                        <td class="td-sm"><span class="rounded-label">5 фото</span>
                                                        </td>
                                                        <td>
                                                            <span class="name">б/г 300-460 2*12 1/24</span>
                                                            <span class="category">Категория: Треска</span>
                                                            <div class="img"><img src="../../images/ui/paragr.png"
                                                                                  alt=""></div>
                                                        </td>
                                                        <td class="td-sm"><span>fixed</span></td>
                                                        <td class="td-sm"><span
                                                                class="price"><strong>300 ₽</strong></span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!--Смена вида-->
                            <div class="catalog-wrap cat-view-list">
                                <div class="cat-brunch">
                                    <div class="bordered-label">
                                        <label class="labe">Охлажденная</label>
                                        <div class="addons">
                                            <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                            <a href="#" class="context-menu"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                        </div>
                                    </div>
                                    <div class="cat-brunch">
                                        <div class="bordered-label">
                                            <label class="labe">Окунь</label>
                                            <div class="addons">
                                                <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                <a href="#" class="context-menu"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                            </div>
                                        </div>
                                        <div class="cat-brunch listed">
                                            <div class="border-wrapper">
                                                <div class="bordered-label">
                                                    <label class="labe">Окунь белгородский</label>
                                                    <div class="addons">
                                                        <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                        <a href="#" class="context-menu"><i
                                                                class="glyphicon glyphicon-option-vertical"></i></a>
                                                    </div>
                                                </div>
                                                <div class="list-items">
                                                    <table>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm">
                                                                <div class="image">
                                                                    <img src="../../images/fish1.png" alt="">
                                                                    <span class="rounded-label">5 фото</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span>A1818</span></td>
                                                            <td class="td-sm">
                                                                <div class="image">
                                                                    <img src="../../images/fish1.png" alt="">
                                                                    <span class="rounded-label">5 фото</span>
                                                                    <div class="sale-label"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="name">б/г 300-460 2*12 1/24</span>
                                                                <span class="category">Категория: Треска</span>
                                                                <div class="img"><img src="../../images/ui/paragr.png"
                                                                                      alt=""></div>
                                                            </td>
                                                            <td class="td-sm"><span>fixed</span></td>
                                                            <td class="td-sm"><span
                                                                    class="price"><strong>300 ₽</strong></span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-brunch">
                                    <div class="bordered-label">
                                        <label class="labe">Мороженная</label>
                                        <div class="addons">
                                            <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                            <a href="#" class="context-menu"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                        </div>
                                    </div>
                                    <div class="cat-brunch listed">
                                        <div class="border-wrapper">
                                            <div class="bordered-label">
                                                <label class="labe">Треска</label>
                                                <div class="addons">
                                                    <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                    <a href="#" class="context-menu"><i
                                                            class="glyphicon glyphicon-option-vertical"></i></a>
                                                </div>
                                            </div>
                                            <div class="list-items">
                                                <table>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span>A1818</span></td>
                                                        <td class="td-sm">
                                                            <div class="image">
                                                                <img src="../../images/fish1.png" alt="">
                                                                <span class="rounded-label">5 фото</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="name">б/г 300-460 2*12 1/24</span>
                                                            <span class="category">Категория: Треска</span>
                                                            <div class="img"><img src="../../images/ui/paragr.png"
                                                                                  alt=""></div>
                                                        </td>
                                                        <td class="td-sm"><span>fixed</span></td>
                                                        <td class="td-sm"><span
                                                                class="price"><strong>300 ₽</strong></span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span>A1818</span></td>
                                                        <td class="td-sm">
                                                            <div class="image">
                                                                <img src="../../images/fish1.png" alt="">
                                                                <span class="rounded-label">5 фото</span>
                                                                <div class="sale-label"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="name">б/г 300-460 2*12 1/24</span>
                                                            <span class="category">Категория: Треска</span>
                                                            <div class="img"><img src="../../images/ui/paragr.png"
                                                                                  alt=""></div>
                                                        </td>
                                                        <td class="td-sm"><span>fixed</span></td>
                                                        <td class="td-sm"><span
                                                                class="price"><strong>300 ₽</strong></span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-controls-wrap">

                    <div class="ui-controls-cont">
                        <div class="func-area">
                            <div class="func-header">
                                <h2 class="head">Настроить список атрибутов</h2>
                                <p class="head-overwiew">Хххххххххххх хх ххххххххххххх ххх ххх
                                    хххххххх х хх ххххххххххх х хххххххххх.</p>
                            </div>
                            <div class="func-block">
                                <div class="func-item">
                                    <div class="checkbox ">
                                        <input type="checkbox" hidden="hidden">
                                        <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        <span class="rounded-label yellow attr-setting">select</span>
                                        <span class="text">Единица измерения</span>
                                    </div>
                                </div>
                                <div class="func-item">
                                    <div class="checkbox ">
                                        <input type="checkbox" hidden="hidden">
                                        <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        <span class="rounded-label yellow attr-setting">select</span>
                                        <span class="text">Внешняя сертификация</span>
                                    </div>
                                </div>
                                <div class="func-item">
                                    <div class="checkbox ">
                                        <input type="checkbox" hidden="hidden">
                                        <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        <span class="rounded-label yellow attr-setting">select</span>
                                        <span class="text">Наличие глазури процент</span>
                                    </div>
                                </div>
                                <div class="func-item">
                                    <div class="checkbox ">
                                        <input type="checkbox" hidden="hidden">
                                        <span class="ch"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        <span class="rounded-label yellow attr-setting">select</span>
                                        <span class="text">Внутренняя сертификация</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<script>
    //Dev trick
    $(function () {
        var text = 'Управление каталогом';
        var sub = 'Настройка атрибутов';

        if(sub){
            document.title = text + ' / ' + sub;
        }else{
            document.title = text;
        }
        $('nav.navbar h1').text( text );
    });
</script>



//= ../../templates/footer.html

