<footer>
    <div class="footer">

    </div>
</footer>

<script src="../../js/settings.js"></script>
<script src="../../js/controlAreaProto.js"></script>
<script src="../../js/scripts.js"></script>
</body>
</html>