/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: RobotoRegular, Arial, sans-serif;
    min-width: 1000px;
}

h1{
    font-family: RobotoBold, "Arial Black", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

p{
    line-height: 1.2;
}

a{
    color: #0070c9;
}

input[type='text'], textarea{
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

input[type='text']{
    padding: 15px;
}

textarea{
    padding: 15px;
    height: 150px;
}

strong{
    font-family: RobotoBold, Arial, sans-serif;
}

.nav-main .navbar-nav{
    float: right;
    margin: 0;
}

.nav-main .l-side{
    float: left;
}

.nav-main .l-side h1{
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
}

.nav-main .l-side .side-menu-btn img{
    vertical-align: baseline;
}

.nav-main .navbar-nav .nav-item{
    list-style-type: none;
    margin: 0 7.5px;
}

.navbar-nav>li{
    float: left;
}

.nav-main .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.nav-main .side-menu-btn{
    line-height: 50px;
}

.nav-main{
    margin-bottom: 0;
}

.nav-main .navbar-nav li{
    line-height: 50px;
    border-bottom: 3px solid transparent;
}

.nav-main .navbar-nav li a{
    color: inherit;
}

.nav-main .navbar-nav li a:hover,
.nav-main .navbar-nav li a:active,
.nav-main .navbar-nav li a:focus {
    text-decoration: none;
}

.nav-main .navbar-nav li:hover{
    border-bottom-color: #0070c9;
}

.nav-main .navbar-nav li.active{
    border-bottom-color: #0070c9;
    font-family: RobotoBold, "Arial Black", sans-serif;
}

.footer{
    height: 100px;
    background: #fafafa;
    margin-top: 50px;
}

.work-area.ui-hidden .ui-controls-wrap{
    display: none;
}

.work-area.ui-hidden .main-area-resize{
    border-right: 0;
    padding-right: 0;
}

.work-area.ui-hidden .devider-icon{
    display: none;
}


.work-area .head-block .main-controls{
    height: 52px;
    position: relative;
    overflow: hidden;
}

.work-area .head-block .main-controls ul{
    padding: 0;
    margin: 0;
    font-size: 0;
    position: absolute;
    right: 0;
    top:0;
    white-space: nowrap;
}

.work-area .head-block .main-controls ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    line-height: 50px;
}

.work-area .head-block .main-controls ul li a{
    color: #333333;
    display: inline-block;
}

.work-area .head-block .main-controls ul li img{
   //*vertical-align: baseline;*/
}

.work-area .head-block .main-controls ul li i{
    font-size: 30px;
}

.work-area .head-block .main-controls .local-controls{
    margin-right: 40px;
}

.work-area .head-block .main-controls .local-controls .control{
    padding: 9px 11px 11px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    line-height: 1;
}

.work-area .head-block .main-controls .local-controls .control:hover,
.work-area .head-block .main-controls .local-controls .control.active
{
    background: #444444;
    color: #fff;
}

.work-area .head-block .main-controls ul li .add-control{
    margin-left: 30px;
    margin-right: 10px;
}

.work-area .head-block{
    background-color: #fafafa;

}

.work-area .head-block .text{
    font-size: 20px;
    font-family: RobotoLight, Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
}

.work-area .head-block .head{
    float: left;
}

/*.work-area .head-block .main-controls {
    float: right;
}*/

.work-area .head-block .head-resize, .work-area .head-controls{
    padding-top: 30px;
    padding-bottom: 30px;
}

.work-area .head-controls.ui-controls-wrap{
    position: relative;
    overflow: hidden;
}

.work-area .head-controls.ui-controls-wrap .head-wrap-overflow{
    position: absolute;
    right: 10px;
}

.work-area.empty .empty-area{
    background-color: #fafafa;
    text-align: center;
    padding: 115px 0;
    display: table;
    width: 100%;
}

.work-area.empty .empty-area .img{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.work-area.empty .main-area-resize{
    border-right: 0;
}

.work-area .main-area{
    font-family: RobotoLight, Arial, sans-serif;
}

/*----Resize------------*/

.main-area-resize {
    position: relative; /* нужно обязательно для позиционирования границ, за которые будет тянуть пользователь */
}

.main-area-resize{
    width: 70%;
    padding-right: 20px;
    border-right: 1px solid #f2f2f2;
}

.thelp .main-area-resize{
    padding-top: 30px;
}

.thelp .main-area-resize, .thelp .ui-controls-wrap{
    display: table-cell;
    vertical-align: top;
}

.main-area .thelp .ui-controls-wrap .ui-controls-cont{
    margin-top: 30px;
}


/*Resize end--------*/

.ui-controls-wrap{
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

.main-area .thelp .ui-controls-wrap .ui-controls-cont{
    position: absolute;
    width: 100%;
    padding-right: 20px;
}

.thelp{
    display: table;
    width: 100%;
}

.work-area .main-area .main-area-resize .info-block{
    text-align: center;
    padding: 40px;
    background-color: #64cdf2;
    color: #ffffff;
    font-size: 12px;
}

.work-area .main-area .main-area-resize table{
    width: 100%;
    text-align: left;
}

.work-area .main-area .main-area-resize table .checkbox{
    margin-top: 0;
    margin-bottom: 0;

}

.work-area .main-area .main-area-resize table tr:hover td{
    background-color: #f3f3f3;
    cursor: pointer;
}

.work-area .main-area .main-area-resize table .td-sm{
    width: 20px;
    white-space: nowrap;
}

.work-area .main-area .main-area-resize table td{
    padding: 0 7.5px;
    height: 70px;
    border-bottom: 1px solid #efefef;
}

.work-area .main-area .main-area-resize table td:first-child {
    padding-left: 15px;
}

.work-area .main-area .main-area-resize table .rounded-label{
    margin: 0;
}

.work-area .main-area .main-area-resize .content-wrap .content-block{
    margin-bottom: 30px;
}

.marker{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.marker.yellow{
    background-color: #ffcc00;
}

.marker.grey{
    background-color: #d7d7d7;
}

.marker.red{
    background-color: #ff4e00;
}

.marker.green{
    background-color: #96d500;
}

.context-menu{
    color: #d7d7d6;
    font-size: 18px;
}

.f-btn{
    font-family:RobotoLight, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    margin: 0 10px;
}

.f-btn:hover, .f-btn:focus, .f-btn:active {
    color: #fff;
    text-decoration: none;
}

.f-btn.f-btn-del{
    background-color: #ff4e00;
}

.f-btn.f-btn-save {
    background-color: #0070c9;
}

.f-btn.f-btn-change{
    background-color: #444444;
}

.f-btn.f-btn-by-content{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.work-area .head-controls{
    text-align: right;
    white-space: nowrap;
}

.work-area .ui-controls-wrap .func-area{
    margin-bottom: 50px;
}

.work-area .ui-controls-wrap .func-area .func-header{
    margin: 0 0 25px;
}

.work-area .ui-controls-wrap .func-area .func-header .head{
    font-size: 20px;
    font-family: RobotoBold, "Arial Black", sans-serif;
    margin-bottom: 3px;
    margin-top: 0;
}

.work-area .ui-controls-wrap .func-area .func-header .head-overwiew{
    font-size: 20px;
    font-family: RobotoLight, Arial, sans-serif;
    margin-bottom: 0;
}

.func-block{
    margin-top: 40px;
}

.func-item{
    margin-top:15px;
    line-height: 1;
}

.func-item > a:not(.f-btn){
    display: inline-block;
    line-height: 1;
}

.func-item .f-btn{
    margin-left: 0;
}

.func-item dt, .func-item dd{
    display: inline-block;
    line-height: 1;
}

.func-item dt{
    width: 110px;
    margin-right: 10px;
    color: #444444;
    opacity: 0.5;
}

.func-item dl {
    margin-bottom: 0;
    line-height: 1;
}

.func-item .wysiwyg{
    font-size: 0;
}

.func-item .wysiwyg .ctrls{
    margin-bottom: 10px;
}

.func-item .wysiwyg textarea{
    height: 130px;
    padding: 15px;
    resize: none;
    font-size: 14px;
}

.func-item .wysiwyg .words-counter{
    background: #fafafa;
    padding: 12px 15px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 10px;
}

.func-item .wysiwyg .words-counter .inner{
    opacity: 0.5;
}

.func-item .devided-list{
    padding-left: 0;
    margin: 0;
}

.func-item .devided-list .active{
    color: #444444;
    font-family:RobotoBold, "Arial Black", sans-serif;
}

.func-item .devided-list li{
    list-style-type: none;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 5px;
    margin-top: 7px;
}

.func-block h3{
    font-size: 16px;
    font-family:RobotoBold, "Arial Black", sans-serif;
    margin-bottom: 25px;
    margin-top: 30px;
}

.func-block.border-top{
    border-top: 1px solid #ebebeb;
}

.func-item .formula-out-wrap{
    margin-top: 20px;
}

.func-item .formula-out-wrap .formula{
    float: left;
    font-family:RobotoRegular, Arial, sans-serif;
    font-size: 18px;
    color: #0070c9;
    line-height: 52px;
}

.func-item .formula-out-wrap .f-btn {
    float: right;
    margin-right: 0;
}


.checkbox{
    line-height: 1;
    cursor: pointer;
}

.checkbox .ch{
    width: 14px;
    height: 14px;
    border: 1px solid #dadcdd;
    display: inline-block;
    font-size: 10px;
    position: relative;
    color: #0372ca;
    vertical-align: middle;
}

.checkbox .ch i{
    position: absolute;
    left: 1px;
    top: 1px;
    display: none;
}

.checkbox .text{
    padding-left: 10px;
    line-height:1;
    display: inline-block;
    vertical-align: middle;
}

.checkbox.bordered{
    border: 1px solid #d6d6d6;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding: 17px 10px;
}

.func-block .macro-var-block{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}

.func-block .macro-var-block .macro{
    font-family:RobotoBold, "Arial Black", sans-serif;
    font-size: 18px;
}

.func-block .macro-var-block .description{
    margin-top: 5px;
    text-align: justify;
    margin-bottom: 0;
}

.devider-icon{
    position: absolute;
    right: -8px;
    top: 50%;
    margin-top: -7px;
    height: 15px;
    font-size: 0;
    -webkit-transition-property: height, margin-top;
    -moz-transition-property: height, margin-top;
    -ms-transition-property: height, margin-top;
    -o-transition-property: height, margin-top;
    transition-property: height, margin-top;
    z-index: 89;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.devider-icon.hovered{
    height: 25px;
    margin-top: -12.5px;
}



.devider-icon span{
    width:3px;
    height: 100%;
    margin: 0 1px;
    display: inline-block;
    background-color: #0f0f0f;
}

.empty-page-discl{
    background-color: #332e29;
    padding: 25px 35px;
    color: #fff;
    text-align: center;
    width: 475px;
    max-width: 100%;
    position: absolute;
    right:10px;
}

.empty-page-discl:after{
    content: '';
    position: absolute;
    top: -9px;
    border-bottom: 9px solid #332e29;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 30px;
}

.empty-page-discl p{
    margin:0;
    padding: 0;
}

.main-area-resize.hideble .overflow-helper{
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden;
}

.main-area-resize.hideble .content-wrap{
    position: absolute;
}

.slide-out-btn, .slide-in-btn{
    display: none;
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -9px;
    z-index: 89;
}

.ui-resizable-e {
    z-index: 999;
}

.bordered-label{
    width: 100%;
    border: 1px solid #d6d6d6;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    padding: 13px;
    position: relative;
}

.bordered-label .labe{
    margin-bottom: 0px;
}

.bordered-label .addons{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -10px;
}

.bordered-label .addons a{
    color: #d7d7d7;
}

.catalog-wrap > .cat-brunch{
    margin-top:40px;
}

.catalog-wrap > .cat-brunch .cat-brunch{
  display: none;
}

.cat-brunch .list-items{
    display: none;
}

.cat-brunch .list-items.show {
    display: block;
}



/*.catalog-wrap .bordered-label, .attrs-wrap */.bordered-label{
    cursor: pointer;
}

.catalog-wrap > .cat-brunch > .bordered-label > .labe,
.attrs-wrap .bordered-label .labe{
    font-family: RobotoBold, "Arial Black", sans-serif;
    font-size: 18px;
}

.catalog-wrap > .cat-brunch > .bordered-label{
    padding: 11px 15px;
}

.catalog-wrap .cat-brunch .cat-brunch{
    margin-top: 20px;
}

.catalog-wrap .cat-brunch > .cat-brunch{
    padding-left: 35px;
}

.catalog-wrap .cat-brunch > .cat-brunch > .cat-brunch {
    padding-left: 25px;
}

.catalog-wrap .cat-brunch td .name, .catalog-wrap .cat-brunch td .category{
    display: block;
}

.work-area .main-area .main-area-resize .cat-brunch table td{
    padding-top: 18px;
    padding-bottom: 18px;
}

.cat-brunch td .marker{
    display: inline-block;
    margin: 0 5px;

}

.cat-brunch table td .context-menu:hover,
.cat-brunch table td .context-menu:active,
.cat-brunch table td .context-menu:focus{
    color: #d7d7d6;
}

.cat-brunch table td .context-menu{
    margin-right: -2px;
}

.catalog-wrap .cat-brunch table td .category{
    font-family: RobotoLight, Arial, sans-serif;
    font-size:12px;
    opacity:  0.5;
}

.catalog-wrap.cat-view-tree td{
    vertical-align: top;
}

.catalog-wrap.cat-view-list{
    display: none;
}

.rounded-label{
    background: #f2f2f2;
    padding:8px 10px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    line-height: 1;
}

.rounded-label.attr-setting{
    padding: 7px 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    margin-left: 10px;
    display: inline-block;
}

.rounded-label.yellow{
    background-color: #ffcc00;
}

.cat-brunch.listed.active .border-wrapper{
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.cat-brunch.listed.active .bordered-label{
    border-color: transparent;
}

.cat-brunch.active > .bordered-label .addons .cover-uncover-btn > *,
.cat-brunch.active > .border-wrapper .bordered-label .addons .cover-uncover-btn > *{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.work-area .main-area-resize .cat-brunch table td{
    border-bottom: none;
    border-top: 1px solid #efefef;
}

.catalog-wrap.cat-view-list .list-items .image{
    width: 135px;
    line-height: 165px;
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
    overflow: hidden;
}

.catalog-wrap.cat-view-list .list-items .image .rounded-label{
    position: absolute;
    line-height: 1;
    bottom: 10px;
    left: 10px;
    background-color: #d7d7d7;
}

.catalog-wrap.cat-view-list .list-items .image img{
    width: 100%;
}

.catalog-wrap.cat-view-list .list-items .image .sale-label{
    position: absolute;
    top:0;
    left:-39px;
    width: 150px;
    height: 25px;
    background-color: #ffcc00;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main-area .ui-controls-wrap .func-area .breadcrumb-wrap .devider{
    width: 10px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    background-color: #444444;
}

.main-area .ui-controls-wrap .func-area .breadcrumb-wrap{
    margin-bottom: 15px;
}

.func-block input[type="text"].fixed{
    max-width: 220px;
}


.func-block .func-item .paired-input input{
    margin-right: 20px;
}

.func-block .paired-foto-areas{
    display: table;
    width: 100%;
}

.func-block .paired-foto-areas .func-item{
    display: table-cell;
}

.func-block .func-item .foto-choose{
    padding: 60px 0;
    text-align: center;
    background-color: #fafafa;
    width: 100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.func-block .func-item .foto-choose.circled-wrap {
    padding: 20px 0;
}

.func-block .func-item .foto-choose .text{
    font-size:18px;
    font-family: RobotoLight, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}


.func-block .func-item .foto-choose .circled{
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    padding: 40px;
}

.func-block .func-item .foto-choose .circled > *{
    display: inline-block;
    margin-right: 0;
}

.func-block .paired-foto-areas .func-item.fixed{
    width: 245px;
    padding-right: 30px;
}

.func-item .select button.dropdown-toggle{
    padding:15px;
}

.func-item .select button.dropdown-toggle .filter-option {
    color: #333;
}

.cls-1{
    stroke: #fff !important;
}

.main-area-resize .attrs-wrap .content-block  .empty-attr-gr{
    padding: 30px 0;
    text-align: center;
    background-color: #fafafa;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.main-area-resize .attrs-wrap .content-block  .empty-attr-gr .text{
    font-size: 18px;
    font-family: RobotoLight, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-area-resize .attrs-wrap .content-block .attr-no-gr .head{
    font-size: 20px;
    font-family: RobotoBold, "Arial Black", sans-serif;
    margin-bottom: 3px;
    margin-top: 0;
}

.main-area-resize .attrs-wrap .content-block .attr-no-gr .text {
    font-size: 20px;
    font-family: RobotoLight, Arial, sans-serif;
    margin-bottom: 0;
}

.attrs-wrap .attr-no-gr .list-items{
    display: block;
    margin-top: 20px;
}

.work-area .main-area-resize .attr-no-gr .cat-brunch table tr:first-child td{
    border-top: none;
}

.markered-dd .marker{
    margin-right:10px;
}

.markered-dd{
    font-size: 12px;
}

.markered-dd dl{
    margin: 10px 0;
}

.ui-controls-wrap .func-block .map{
    width: 100%;
    height: 290px;
    overflow: hidden;
}

.ui-controls-wrap .func-block .map img{
    width: 100%;
}

.ui-controls-wrap .func-block .select .add-select.blue{
    background-color: #0070c9;
    color: white;
}

.ui-controls-wrap .func-block .select .add-select{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-size: 18px;
}

.dropdown-menu{
    padding-bottom: 0;
}

.ui-controls-wrap .func-block .logo-client{
    max-width: 465px;
    width: 100%;
    background-color: #f3f3f3;
    padding: 40px;
    text-align: center;
}

.ui-controls-wrap .func-block .table{
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



.ui-controls-wrap .func-block .table .header-wrap{
    position: relative;
    font-size: 16px;
    padding: 18px 20px;
    cursor: pointer;
}

.ui-controls-wrap .func-block .table table{
    display: none;
}

.ui-controls-wrap .func-block .table.active table {
    display: table;
}

.ui-controls-wrap .func-block .table.active .header-wrap .cover-uncover-btn i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ui-controls-wrap .func-block .table .header-wrap > *{
    display: inline-block;
    line-height: 1;
}

.ui-controls-wrap .func-block .table .header-wrap .head{
    font-family: RobotoBold, Arial, sans-serif;
    font-weight: bold;
}

.ui-controls-wrap .func-block .table .header-wrap a.cover-uncover-btn{
    font-size: 12px;
    color: #d7d7d7;
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -8px;
}

.ui-controls-wrap .func-block table{
    width: 100%;
}

.ui-controls-wrap .func-block table td{
    padding: 10px;
    text-align: center;
}

.ui-controls-wrap .func-block table thead td{
    padding: 15px 10px;
    color: #444;
    opacity:0.5;
}

.ui-controls-wrap .func-block table thead{
    border-bottom: 3px solid #d6d6d6;
}

.ui-controls-wrap .func-block table thead td:first-child,
.ui-controls-wrap .func-block table tbody tr td:first-child{
    padding-left: 20px;
}

table td.td-inline{
    width: 1px;
}

.ui-controls-wrap .func-block table.left-align td{
    text-align: left;
}

.ui-controls-wrap .func-block table td a{
    position: relative;
}

.ui-controls-wrap .func-block table tbody td {
    border-top: 1px solid #f3f3f3;
}

.ui-controls-wrap .func-block table td .comment{
    position: absolute;
    right: -10px;
    top: 100%;
    background-color: #f3f3f3;
    width: 440px;
    padding: 15px;
    margin-top: 10px;
    color: #444;
    display: none;
    z-index: 998;
}

.ui-controls-wrap .func-block table .td-comment:hover .comment{
    display: block;
}

.ui-controls-wrap .func-block table td .comment:before{
    position: absolute;
    top:-10px;
    right: 10px;
    content: '';
    border-bottom: 10px solid #f3f3f3;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

a.red{
    color: #ff4e00;
}