//= ../../templates/header.html

<div class="work-area ui-hidden">
    <div class="head-block">
        <div class="container-fluid">
            <div class="thelp">
                <div id="head-resize" class="head-resize main-area-resize head-controls">
                    <!--<div class="head">
                        <h1>Управление складами</h1>
                        <p class="text">Хххххххххххх хх ххххххххххххх ххх ххх <br/>
                            хххххххх х хх ххххххххххх х хххххххххх.</p>
                    </div>-->
                    <div class="main-controls text-right">
                        <ul>
                            <li><a href="#"><img src="../../images/ui/sort-btn.png" alt=""></a></li>
                            <li><a href="#"><img src="../../images/ui/filter-btn.png" alt=""></a></li>
                            <li><a href="#"><img src="../../images/ui/search-btn.png" alt=""></a></li>
                            <li><a href="#" id="add-control" class="add-control"><img src="../../images/ui/plus.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <!--<img class="devider-icon" src="../../images/ui/devider.png" />-->
                    <div class="devider-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="#" class="slide-out-btn"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    <a href="#" class="slide-in-btn"><i class="glyphicon glyphicon-chevron-left"></i></a>

                </div>
                <div class="head-controls ui-controls-wrap">
                    <div class="head-wrap-overflow">
                        <a href="#" class="f-btn f-btn-save">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-area">
        <div class="container-fluid">
            <div class="thelp">
                <div id="main-resize" class="main-area-resize">
                    <div class="overflow-helper">
                        <div class="content-wrap">

                            <div class="attrs-wrap">
                                <div class="content-block">
                                    <div class="cat-brunch listed">
                                        <div class="border-wrapper">
                                            <div class="bordered-label">
                                                <label class="labe">Название группы</label>
                                                <div class="addons">
                                                    <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                    <a href="#" class="context-menu"><i
                                                            class="glyphicon glyphicon-option-vertical"></i></a>
                                                </div>
                                            </div>
                                            <div class="list-items">
                                                <table>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Единица измерения</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Вместимость тары</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Наличие глазури процент</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Размерный ряд</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-block"><p class="info-block">Xxxxxxxxxxxxx x xxxxxxxx xxxx x
                                    xxxxxxxxxxxxxxx x xxxxхххххх х ххххххх
                                    хххххххх ххх x xxxxxxxxxxx
                                    xxx x xxxxxxxxxxxxx xxxxxxxx xxxxxxxxxxxxx xxxx x xxxxxxxxxxx xxx x xxxxxxxxxxxxxxx
                                    xxxxxx.</p>
                                </div>
                                <div class="content-block">
                                    <div class="cat-brunch listed">
                                        <div class="border-wrapper">
                                            <div class="bordered-label">
                                                <label class="labe">Название группы</label>
                                                <div class="addons">
                                                    <a href="#" class="cover-uncover-btn"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                                    <a href="#" class="context-menu"><i
                                                            class="glyphicon glyphicon-option-vertical"></i></a>
                                                </div>
                                            </div>
                                            <div class="list-items">
                                                <table>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Единица измерения</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Вместимость тары</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Наличие глазури процент</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker grey"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-sm">
                                                            <div class="checkbox"><input type="checkbox"
                                                                                         hidden="hidden">
                                                                <span class="ch"><i
                                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                        </td>
                                                        <td class="td-sm"><span
                                                                class="rounded-label attr-setting yellow">select</span>
                                                        </td>
                                                        <td>
                                                            <span>Размерный ряд</span>
                                                        </td>
                                                        <td class="td-sm"><span>Набор значений</span></td>
                                                        <td class="td-sm">
                                                            <div class="marker yellow"></div>
                                                            <a href="#" class="context-menu"><i
                                                                    class="glyphicon glyphicon-option-vertical"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-block">
                                    <div class="empty-attr-gr">
                                        <img src="../../images/attention.png" alt="">
                                        <p class="text">Пустая группа атрибутов <br> Название группы</p>
                                        <a href="#" class="choose-btn f-btn f-btn-by-content f-btn-change">Добавить атрибут</a>
                                    </div>
                                </div>
                                <div class="content-block">
                                    <div class="attr-no-gr">
                                        <span class="head">Атрибуты вне группы</span>
                                        <p class="text">Xxx x xxxx xx x xxxx xx x xxx <br>
                                            xx xxxxxxxxx xx xxxx xxxxxxxxx</p>
                                        <div class="cat-brunch listed">
                                            <div class="border-wrapper">
                                                <div class="list-items show">
                                                    <table>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span
                                                                    class="rounded-label attr-setting yellow">select</span>
                                                            </td>
                                                            <td>
                                                                <span>Единица измерения</span>
                                                            </td>
                                                            <td class="td-sm"><span>Набор значений</span></td>
                                                            <td class="td-sm">
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span
                                                                    class="rounded-label attr-setting yellow">select</span>
                                                            </td>
                                                            <td>
                                                                <span>Вместимость тары</span>
                                                            </td>
                                                            <td class="td-sm"><span>Набор значений</span></td>
                                                            <td class="td-sm">
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span
                                                                    class="rounded-label attr-setting yellow">select</span>
                                                            </td>
                                                            <td>
                                                                <span>Наличие глазури процент</span>
                                                            </td>
                                                            <td class="td-sm"><span>Набор значений</span></td>
                                                            <td class="td-sm">
                                                                <div class="marker grey"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-sm">
                                                                <div class="checkbox"><input type="checkbox"
                                                                                             hidden="hidden">
                                                                    <span class="ch"><i
                                                                            class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                            </td>
                                                            <td class="td-sm"><span
                                                                    class="rounded-label attr-setting yellow">select</span>
                                                            </td>
                                                            <td>
                                                                <span>Размерный ряд</span>
                                                            </td>
                                                            <td class="td-sm"><span>Набор значений</span></td>
                                                            <td class="td-sm">
                                                                <div class="marker yellow"></div>
                                                                <a href="#" class="context-menu"><i
                                                                        class="glyphicon glyphicon-option-vertical"></i></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="ui-controls-wrap">

                    <div class="ui-controls-cont">

                        <div class="func-area">
                            <div class="func-header">
                                <h2 class="head">Фильтрация</h2>
                            </div>
                            <div class="func-block">
                                <div class="func-item">
                                    <div class="select">
                                        <select class="selectpicker" data-width="100%"  title="Статус" >
                                            <option value="см">Статус 1</option>
                                            <option value="м">Статус 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="func-item">
                                    <div class="select">
                                        <select class="selectpicker" data-width="100%"  title="Город" >
                                            <option value="см">Москва</option>
                                            <option value="м">Питер</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<script>
    //Dev trick
    $(function () {
        var text = 'Атрибуты товаров';
        var sub = 'Фильтрация';

        if(sub){
            document.title = text + ' / ' + sub;
        }else{
            document.title = text;
        }
        $('nav.navbar h1').text( text );
    });
</script>



//= ../../templates/footer.html

               